.ipynb_checkpoints/Grover's algorithm-checkpoint.ipynb
.ipynb_checkpoints/setup_account-checkpoint.ipynb
latex_scratchpad.aux
latex_scratchpad.fdb_latexmk
latex_scratchpad.fls
latex_scratchpad.log
latex_scratchpad.out
latex_scratchpad.pdf
latex_scratchpad.synctex.gz
latex_scratchpad.tex
